Route E1: Lagos Island - Ibafo - Ibadan; Length km; States Traversed: Lagos, Ogun, Oyo
Route A1: Apapa Wharf - Ikorodu Road - lkorodu - Shagamu - lbadan - Oyo - llorin - Jebba - Kontagora - Yelwa - Koko - Jega - Tambawal - Sokoto - Illela Niger border; Length km; States Traversed: Lagos, Ogun, Oyo, Kwara, Niger, Kebbi, Sokoto
Route A2: Kongolam (Niger border) - Daura - Kano - Zaria - Kaduna - Abuja - Lokoja - Auchi - Benin City - Warri; Length km; States Traversed: Delta, Edo, Kogi, FCT, Kaduna, Kano, Katsina
Route A3: Port Harcourt - Aba - Owerri - Umuahia - Otukpa - Oturkpo - Aliade - Makurdi - Lafia - Akwanga - Wamba - Jos - Bauchi - Kari Potiskum - Maiduguri - Gamboru; Length: km; States Traversed: Rivers, Abia, Imo, Enugu, Benue, Nasarawa, Plateau, Bauch, Gombe, Borno
Route A3-1: Enugu -Port Harcourt Expressway; Length: km; States Traversed: Rivers, Abia, Imo, Enugu, Part of A3?
Route A4: Calabar - Mbarakom - Ugep - Ikom - Ogoja - Katsina Ala - Jalingo - Yola Gombi - Bama - Maiduguri Length 1293 km; States Traversed: Cross River, Benue, Taraba, Adamawa, Borno
Route A4-1: A4 (Calabar) - Itu - Ikot Ekpene (A342); Length: 76.5 km; States Traversed: Akwa Ibom, Cross River
Route A4-2: Calabar - Ekang - Ajasso - Yahe Length 132 km; States Traversed: Cross River
Route A4-3 (No Road Found): Takum - Bissaula; Length: 81.5 km; State Traversed: Taraba
Route A4-4: Jimeta - Yoka; Length: 15.1 km; States Traversed: Adamawa
Route A4-5: Jiberu - Sorau; Length 162 km; States Traversed: Adamawa
Route A4-6: A4 - Mubi (Route Alignment unknown; Length: 18.1 km; State Traversed: Adamawa
Route A4-7: Bama - Banki; Length: 48.6 km; State Traversed: Adamawa
Route A5: Agege Motor Road Agege - Sango Otta - Abeokuta - Ibadan; Length: 176 km; States Traversed: Lagos, Ogun, Oyo
Route A6: Onitsha - Nnewi - Ihiala - Owerri - Umu Uvo (A3); Length 126 km; States Traversed: Anambra, Imo, Abia
Route A7: Chikanda - Yeshikere - Kosubosu - Kaiama Kishi - Ilorin; Length: 322 km; State Traversed: Kwara
Route A8: Mayo Belwa Junction (A4) - Canye - Jamtari - Serti - Mayo Selbe - Gembu on the Mambilla Plateau; Length: 362 km; States Traversed: Taraba
Route A9: Niger (N9) - Jibiya - Katsina - Miltara (A2); Length 199 km; States Traversed: Katsina, Kano
Route A10: Junction with A1 - Tegina; Length: 101 km; State Traversed: Niger 42
Route A11: Rigacikun (A2) - Pambeguwa; Length 100 km; State Traversed: Kaduna
Route A12: Katsina Ala (A4/A344) - Sabon Gida - Beli - Jalingo (A4) ; Length: 312 km
No Route No: Ogbomosho - Ilorin Highway; Length: 61.2 km; States Traversed: Oyo, Kwara
Route A13: Garinkunini (A4) - Mayo - Belwa - Namtari - Jimeta - Jiberu - Gombi - Gwoza - Bama; Length: 472 km; States Traversed: Taraba, Adamawa, Borno
Route A14: Ilorin - Iyana - Bode Sadu; Length 86 km; State Traversed: Kwara
Route A121: E1 - Shagamu - Benin City; Length 255 km; States Traversed: Ogun, Ondo. Edo,
Route A122: lbadan - Ife - Ilesha - Akure - Oluku Junction (A121); Length 328 km; States Traversed: Ogun, Ondo. Edo,
Route A123: Ilorin - Egbe - Kabba - Lokoja; Length 292 km; States Traversed: Kwara, Kogi,
Route A124: Bokani Junction - Enagi - Bida - Agaie - Lapai - Izom - Abuja; Length 289 km; States Traversed: Niger, FCT,
Route A125: Kontagora - Tegina - Mando - Kaduna; Length 293 km; States Traversed: Niger, Kaduna,
Route A126: Sokoto - Gusau - Funtua Zaria (A2); Length 385 km; States Traversed: Sokoto, Zamfara, Katisina, Kaduna,
Route A231: Isokpo - Orogbemi 53.70
Route A232: Benin City - Agbor - Asaba - Onitsha - Awka - Oji River (A3); Length 216 km; States Traversed: Edo, Delta, Anambra, Enugu,
Route A233: Lokoja - Shintaku - Ayangba - Ankpa - Otukpa Junction (A3); Length 188 km; States Traversed: Kogi, Benue
Route A234: Abuja - Keffi - Akwanga (A3); Length 159 km; States Traversed: FCT, Nasarawa
Route A235: Kaduna - Kachia - Kafanchan - Gimi (A3); Length 271 km; States Traversed: Kaduna
Route A236: Zaria (A2) - Pambegua - Jos junction (A3); Length 248 km; States Traversed: Kaduna, Plateau
Route A237: Nine Mile Corner (A3) - Enugu - Abakaliki - Ijahe Junction (A4); Length 273 km; States Traversed: Kano, Jigawa, Bauchi
Route A342: Aba - Ikot Ekpene - Uyo - Oron - Calabar; Length 125 km; States Traversed: Abia, Akwa Ibom
Route A343: Nine Mile Corner (A3) - Enugu - Abakaliki - Ijahe Junction (A4); Length 160 km; States Traversed: Enugu, Ebonyi, Cross River
Route A344: Aliade Junction (A3) - Gboko - Katsina Ala; Length 108 km; States Traversed: Benue
Route A345: Bauchi - Gombe - Numan - Ngurore Junction (A13); Length 356 km; States Traversed: Bauchi, Taraba
Route F100: Lagos (Apapa Road Flyover south of Iganmu) - Badagry - Benin 158.704 States Traversed: Lagos
Route F101: Ikorodu (A1) - Agbowa - Epe - Sunmage and terminating near Oso (A121) 34.677 States Traversed: Lagos
Route F101-1: Sunmage (F101) - Iwopin 38.628
Route F102: Shagamu (Al) - Owode - Abeokuta - Meko - Illara - Benin (RNIE4) 121.350
Route F103: Effurun - Ughelli - Uwherum - Patani - Mbiama - Ahoada - Rumukoroshe - Nchia - Opobo - Eket - Ikot Ubo – Oron 362.222
Route F103-1: Okrika - Nchia (F103) 10.189
Route F104: Aba - Azumini - Etinam - Ndiya - Ikot Ubo (F103) 98.485
Route F105: Awbele (Benin border) - Oja Odan - Ilaro - Owode (Fl02) 99.319
Route F106: Owerri - Nguru - Etiti (A3) 50.099
Route F107: Umuahia - Bende - Ohafia (F234) 46.661
Route F108: U Arochukwu - Ikot Okpora - Orira (A4) 36.959
Route F109: Amukpe (A2) - Eku - Abraka - Obiaruku - Umutu 69.855
Route F110: Port of Kolo - Ologbo (A2) 31.839
Route F111: Ihiala (A6) - Orlu - Umuduru (A3) 49.288
Route F112: Onitsha - Nnewi - Okigwi - Afikpo 134.391
Route F113: Duplicated Ozalla (F233) - Agbani - Okposi - Abba - Omega - Itigidi - Ediba - Ugep (A4) 108.123
Route F113: Duplicated Udi - Ozalla (F233) - Agbani - Okposi - Abba Omega - Itigidi - Ediba - Ugep (A4)
Route F114: Igbogor (A121) - Okomo - Okeluse - Ute - Sobe (A122) 63.468
Route F115: Ifon (A122) - Uzebba - Sabon Gida Ora - Ozalla - Ekpoma (A2) 64.912
Route F116: Irrua (A2) - Uromi - Ubiaja - Illushi - Adani - Nsukka 143.189
Route F117: Ilesha (A122) - Ado Ekiti - Ikare - Ishua - Ibillo - Auchi - Agenebode - Idah - Nsukka Eha Amufu - Nkalagu (A343) 476.221
Route F118: Wasimi (Benin border) - Iseyin - Ovo - lwo - Gbongan (A122) 217.256
Route F118-1: Gbonga(F118) - Ode Omu - Sekona (F205) 21.997
Route F119: Omuo - Kabba - Okene - Ajaokuta - Itobe and - Ayangba (A233) 214.422
Route F120: Gakem (A4) - Obudu and - Obudu Ranch 92.127
Route F121: Makurdi (A3) - Abinsi - Yandev - Gburuku - Zaki Biam (A4) 151.372
Route F122: Rafin Kada - Sabon Gida - Ivaissa - Gembu - Bang (Cameroun border) 248.714
Route F123: Beli - Jamtari (A8) 48.196
Route F124: Share (A1) - Ndeji - Pategi - Eggan - Baro - Abaji - Nassarawa - Lafia - Shendam (F125) 462.343
Route F124-1: Sheshi (F124) - Lafiagi on the River Niger 122KM
Route F125: Wamba (A3) - Shendam - Langtang - Wase Bashar - Bambur (F250) 335.231
Route F126: Zungeru - Minna - Izom (A124) 156.147
Route F127: Kafanchan (A235) - Vom (A3) 31.043
Route F128: Benin border - Rofi-a-Bin Yauri - Rijau - Dan Gulbi - Chafe - Dayi - Gwarzo - Kano - Gumel Malammaduri - Hadejia - Birniwa - Nguru - Gashua - Geidam - Damasak - Bisagana on Lake Chad 1,316.722
Route F128-1: Gumel (F128) - Maigatari (Niger border) 23.376
Route F128-2: Nguru (F128) - Machina (Niger border) 54.026
Route F128-3: Geidam (F128) - (Niger border) 30.287
Route F129: Gombe - Hinna - Gondi - Biu (A4) 128.939
Route F130: Kogin Hugum (A237) - Dutse Azare - Zindiwa (F131) 229.720
Route F131: K Wudil (A237) - Gaya - Gammayin - Katagum - Udobo - Potiskum (A3) 294.176
Route F132: 7 Kalgo (F203) - Jega - Dakin Takwas - Anka - Majinchi (A126) 259.516
Route F133: Kamba (F203) - Bwi - Argungu - Jaredi (A1) 245.027
Route F134:
Route Unclear 115 Gubio (F256) - Gajiram - Dikwa (A3) 154.632  115
Route F135: Kukawa - Kauwa (F258) - Baga (Lake Chad) 44.505
Route F136: Dutsin Ma (F219) - Tareshi - Kankiya (A9) 46.625
Route F137: Kaura Namoda - Danja - Jibiya (A9) 97.368
Route F138: Sokoto (A1)- Goronyo - Sabon Birni (F218) Sokoto (A1)- Goronyo - Sabon Birni (F218) 149.572
Route F139: Ankpa (A233) - Abakpa - Boju Ega (F238)
Route F200: Mowo (F100) - Ilaro - Abeokuta Iseying - Ago Are - Kishi (A7) 361.341
Route F201: Kaiama (A7) - Wawa - New Bussa - Yelwa (A1) 154.510
Route F202: Ago Are - Shaki - Ilesha - Okuta - Kosubosu (A7) 128.888
Route F203: Niger (N8) - Kamba - Kalgo - Birnin Kebbi - Argungu (F132) 167.396
Route F204: Itoikin (F101) - Ibefun - Ijebu Ode - Idi Ayunre (A1) 74.422
Route F205: Ijebu Ode (A121) - Ijebu Igbo - Ile Ife - Shekona - Oshogbo - Offa - Ajasse (A123) 246.734
Route F206: Ilesha (A122) - Oshogbo - Ogbomosho and - Igbetti (A7) 163.201
Route F207: Ondo (F209) - Oke Igbo - Ile Ife, (A122) 71.372
Route F208: Ita Nla (F209) - Ile Oluji - Ipetu, (A122) 41.265
Route F209: Okitipupa - Ore - Ondo - Ita Nla - Akure - Ado - Ekiti - Omu Aran (A123) 215.895
Route F210: Wawa (F201) - Luma - Rofia (F128) 130.606
Route F211: Mokwa (A1) - Eban - New Bussa (F201) 100.203
Route F212: Wara on the edge of the Kainji Lake - Auna - Ibe - (A1) 75.767
Route F213: F132 south of Gunmi - Gunmi - Jabo (A1) 66.398
Route F214: Kontagora (A125) - Rijau - Zuru - Dakin Takwas (F132) 198.291
Route F215: Owo (A122) - Ikare - Omuo - Egbe - Pategi - Bida - Zungeru - Tegina (A125) 383.802
Route F216: Sabon Birnin Gwari (A125) - Birnin Gwari - Funtua - Malumfashi - Dayi - Yashi (A9) 273.789
Route F217: Birnin Gwari (F216) - Dan Gulbi - Anka (F132) 177.347
Route F218: Gusau (A126) - Kunya - Kaura Namoda - Shinkafe - Sabon Birni - Niger border 196.277
Route F219: Malumfashi (F216) - Kankara - Dutsin Ma - Katsina - Daura - Zango 274.130
Route F220: A122 south of Ipele - Ipele - Ishua - Kabba (A123) 101.456
Route F221: Aiyetoro (A123) - Akutukpa - Eggan - Agaie (A124) 149.787
Route F222: Ogharefe - Sapoba - Agbor - Uromi (F116) 148.002
Route F223: Ughelli (F103) - Ozoro - Kwale - Ogwashi Uki - Asaba (A232) 138.055
Route F224: Kwale - Umutu - Agbor (A232) 92.068
Route F225: Onitsha (A6) - Aguleri - Adani (F116) 79.036
Route F226: Ifite Ukpo east of Onitsha (A232) - Awkuzu - Aguleri (F225) 19.364
Route F227: Brass - Nembe Yenagoa - Yenegue - Mbiama (Fl03) 106.195
Route F228: Buguma - Degema - Ahoada - Ebocha - Uli (A6) 154.455
Route F229: Port Harcourt - Igrita - Elele - Owerri - Orlu - Awka (A232) 215.601
Route F230: Bonny - Bomu - Chara (Fl03) 35.733
Route F231: Igrita (F229) - Chokoehe - Ibodo - Okpalla (A6) 52.055
Route F232: Opobo - Abak - Ikot Ekpene - Umuahia (A3) 122.548
Route F233: Awgu (A3) - Ozalla - Enugu (A343) 44.992
Route F234: B Uyo - Itu - Arochukwu - Ohafia - Afikpo - Abba Omega - Abakaliki (A343) 179.287
Route F235: B Okurikang (A4-1) - Akpap - Creek Town 26.133
Route F236: Cross River Mills (A4) - Obubra - a point on the A343 just east of Abakaliki
Route F237: Ikom (A4) - Obudu (F120) 109.577
Route F238: Iyahe (A343) - Oturkpo - Loko - Nasarawa - Keffi - Kachia (A235) 454.887
Route F239: Yahe (A343) - Ogoja - Shangev Tiev - Aliade (A344) 125.914
Route F240: Akwanga (A3) - Nunku - A3 just North of Fadan Ayu 62.388
Route F241: Wamba (A3) - Panyan - Pankshin - F247 northwest of Dawaki
Route F242: Takum (A12) - Rafla Kada - Wukari - Ibi - Shedam - Panyam - Bukuru (A3) 355.507
Route F243: Rahama (A236) - Yaryasd - Tudun Wada - Kafin Mayaki (A2) 145.910
Route F244: Kunya (A2) - Babura - Niger (N119) 96.729
Route F245: Fustam Mata (A236) - Ningi - Samamiya (A237) 192.756
Route F246: Gubi (A3) - Miya - Ningi (F245) 100.930
Route F247: Langtang (F125) - Dawaki - Boi - Tafawa Balewa - Bauchi (A3) 38.449
Route F248: Shira (A237) - Azare (F130) 38.449
Route F249: A237 south of Misau - Misau - Azare - Gammayim - Hadejia (F128) 145.076
Route F250: Lankoviri (A4) - Lau - Mutum Daya - Filiya - Biliri (A345) 131.479
Route F251: Gombe (A345) - Bajoga - Potiskum (A3) 192.299
Route F252: Ganye (A8) - Mapeo - Yola - Jimeta (A4) 137.595
Route F252-1: Yola (F252) - Gurin 38.700
Route F253: Gombi (A13) - Biu - Damaturu - Dapchi - Baromari (F128) 360.451
Route F254: Uba (A13) - Damboa - Borozo - Beni Sheik (A3) 190.091
Route F255: Sorau (Cameroun border) - Mubi (A4-6) 66.942
Route F255-1: Mubi (A4-6) - Bukula - Cameroun border 23.780
Route F256: Maiduguri (A3) - Magumeri - Gubio - Damasak (F128) 179.399
Route F257: Maiduguri (A3) - Gajiram - Monguno (F258) 139.924
Route F258: Dikwa (A3) - Mongonu - Kauwa - Yo (F128) 200.841
Route F259: Bama (A4) - Gulumba Gana-Kala - Gambaru (A3) 182.706
Route F260: Pulka (A13) - Kirawa - Cameroun (N14) 16.300
Route F261: Rumukoroshe (A3) - Chokoche (F231) 16.645 